body {

    background-color: lightblue;
    color: black;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    text-align: center;
    background-color: #524c4c;
  }
  h1 {
    font-size: 32px;
    color: #002cb0;
  }
  p {
    line-height: 1.5;
  }
  div {
    border: 2px solid #000000;
    border-radius: 9px;
  }
  
  